{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div id="mainBanner" class="carousel slide" data-bs-ride="carousel">


    <div class="carousel-indicators">
      <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#mainBanner" data-bs-slide-to="2"></button>
    </div>


    <div class="carousel-inner">


      <div class="carousel-item active banner-slide" style="background-image: url('{% static "images/banner-1.jpg" %}');">
        <div class="banner-text text-center text-white">
          <h1>Learn New Skills</h1>
          <p>Discover courses that prepare you for real-world success.</p>
          <a href="#" class="btn btn-warning px-4 py-2 mt-3">Start Learning</a>
        </div>
      </div>


      <div class="carousel-item banner-slide" style="background-image: url('{% static "images/banner-2.jpg" %}');">
        <div class="banner-text text-center text-white">
          <h1>Teach Your Skills</h1>
          <p>Share your knowledge and inspire others to grow.</p>
          <a href="#" class="btn btn-warning  px-4 py-2 mt-3">Become an Instructor</a>
        </div>
      </div>

      <div class="carousel-item banner-slide" style="background-image: url('{% static "images/banner-3.jpg" %}');">
        <div class="banner-text text-center text-white">
          <h1>Boost Your Career</h1>
          <p>Learn in-demand skills and achieve your career goals.</p>
          <a href="#" class="btn btn-warning px-4 py-2 mt-3">Join Now</a>
        </div>
      </div>

    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#mainBanner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainBanner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>

  </div>

{% endblock %}