{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container manage-course-container mt-5 mb-5">

    {% if module %}
<div class="d-flex justify-content-center video-wrapper mb-3">
    <video src="{{ module.video.url }}" controls playsinline></video>
</div>

    {% else %}
         <div class="course-thumb-wrapper mb-4">
        <img src="{{ course.thumbnail.url }}" class="course-thumb img-fluid " alt="Course Thumbnail">
    </div>
{% endif %}

    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
        <h2 class="course-title m-0">{{ course.course_name }}</h2>
        <h3 class="course-price m-0">₹{{ course.price }}</h3>
    </div>

    <div class="row">


        <div class="col-md-8">

            <div class="course-box mb-4 p-4">
                <h4 class="text-warning mb-3">Course Description</h4>
                <p class="course-desc">
                    {{ course.description }}
                </p>
                <h4 class="text-warning mb-3">Prerequisites</h4>
                <p class="course-desc">
                    {{ course.prerequisite }}
                </p>
            </div>


            <h4 class="text-warning mb-3">Chapters & Modules</h4>

            {% for chapter in course.chapters.all %}
            <div class="chapter-box mb-3">


                <button class="btn chapter-btn w-100 d-flex justify-content-between align-items-center"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter{{ chapter.id }}">
                    <span>{{ chapter.chapter_name }}</span>

                    <span>
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </button>


                <div class="collapse" id="chapter{{ chapter.id }}">
                    {% for module in chapter.modules.all %}
                    <div class="module-row d-flex justify-content-between align-items-center mt-2">
                        {% if not module.video %}
                        <a  href="{{module.document.url}}" download class="btn module-btn w-100 text-start">{{ module.module_name }}</a>
                        {% else %}
                        <a href="{% url 'courses:video' cid=course.id mid=module.id %}" class="btn module-btn w-100 text-start">{{ module.module_name }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}


                </div>

            </div>
            {% endfor %}


        </div>



        <div class="col-md-4 mt-4 mt-md-0">
            <div class="course-sidebar p-4">

                <h4 class="text-warning mb-4">Course Details</h4>

                <p><strong class="text-warning">Category:</strong> {{ course.category }}</p>
                <p><strong class="text-warning">Tutor:</strong> {{ course.Tutor.name }}</p>
                <p><strong class="text-warning">Rating:</strong> {{ course.rating }}</p>
                <p><strong class="text-warning">Students:</strong> {{ course.students }}</p>

                <a href="#" class="btn edit-course-btn w-100 mt-3">
                    Buy Course
                </a>

            </div>
        </div>

    </div>

</div>

{% endblock %}
