{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container manage-course-container mt-5 mb-5">

    {% if module %}
<div class="d-flex justify-content-center video-wrapper mb-3">
    <video src="{{ module.video.url }}" controls playsinline></video>
</div>

    {% else %}
         <div class="course-thumb-wrapper mb-4">
        <img src="{{ course.thumbnail.url }}" class="course-thumb img-fluid " alt="Course Thumbnail">
    </div>
{% endif %}

    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
        <h2 class="course-title m-0">{{ course.course_name }}</h2>
        <h3 class="course-price m-0">₹{{ course.price }}</h3>
    </div>

    <div class="row">


        <div class="col-md-8">

            <div class="course-box mb-4 p-4">
                <h4 class="text-warning mb-3">Course Description</h4>
                <p class="course-desc">
                    {{ course.description }}
                </p>
                <h4 class="text-warning mb-3">Prerequisites</h4>
                <p class="course-desc">
                    {{ course.prerequisite }}
                </p>
            </div>


            <h4 class="text-warning mb-3">Chapters & Modules</h4>

            {% for chapter in course.chapters.all %}
            <div class="chapter-box mb-3">


                <button class="btn chapter-btn w-100 d-flex justify-content-between align-items-center"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#chapter{{ chapter.id }}">
                    <span>{{ chapter.chapter_name }}</span>

                    <span>
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </button>


                <div class="collapse" id="chapter{{ chapter.id }}">
                    {% for module in chapter.modules.all %}
                    <div class="module-row d-flex justify-content-between align-items-center mt-2">
                        {% if not module.video %}
                        <a  href="{% url 'courses:document' cid=course.id mid=module.id %}"  class="btn module-btn w-100 text-start" >{{ module.module_name }}</a>
                        {% else %}
                        <a href="{% url 'courses:video' cid=course.id mid=module.id %}" class="btn module-btn w-100 text-start" >{{ module.module_name }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}




                </div>

            </div>
            {% endfor %}
<h4 class="text-warning mt-5 mb-3">Student Reviews</h4>

<div class="reviews-box p-4">

    {% if reviews %}
        {% for review in reviews %}
            <div class="review-item p-3 mb-3 border rounded">

                <div class="d-flex justify-content-between align-items-center">
                    <strong class="text-warning">{{ review.user.username }}</strong>
                    <span class="review-rating text-white">
                        ⭐ {{ review.rating }}/5
                    </span>
                </div>

                <p class=" text-white mt-2 mb-1">{{ review.comments }}</p>

                <small class=" text-white">
                    {{ review.created_at|date:"M d, Y" }}
                </small>

            </div>
        {% endfor %}
    {% else %}
        <p class="text-white">No reviews yet for this course.</p>
    {% endif %}
</div>


        </div>



        <div class="col-md-4 mt-4 mt-md-0">
            <div class="course-sidebar p-4">

                <h4 class="text-warning mb-4">Course Details</h4>

                <p><strong class="text-warning">Category:</strong> {{ course.category }}</p>
                <p><strong class="text-warning">Tutor:</strong> {{ course.Tutor.name }}</p>
                <p><strong class="text-warning">Rating:</strong> {{ course.rating }}</p>
                <p><strong class="text-warning">Students:</strong> {{ students }}</p>

{% if  is_enrolled %}
                <a href="{% url 'chat:chat_room' tutor_id=course.Tutor.id course_id=course.id %}" class="btn edit-course-btn w-100 mt-3">
                    Chat with tutor
                </a>
{% else %}
                <a href="{% url 'courses:enroll' course.id %}" class="btn edit-course-btn w-100 mt-3">
                    Buy Course
                </a>
{% endif %}
                {% if form %}
                <h3 class="text-warning text-center fs-3 fw-bold mt-3">Leave your impression</h3>
               <div class="review-form-box">


                    <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-warning">
                        </form>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{% endblock %}
