{% extends 'base.html' %}
{% block content %}

<div class="chat-page">

    <div class="chat-box mb-3">


        <div class="chat-header">
            <div>
                <strong>Room:</strong> {{ room.id }}
            </div>
            <div>
                <strong >Student:</strong> {{ student.username }}

                <strong class="ms-2">Tutor:</strong> {{ tutor.username }}
            </div>
        </div>


        <div id="chat-box" class="chat-messages">
            {% for msg in messages %}
                <div class="chat-message">
                    <span class="sender">{{ msg.sender.username }}</span>
                    <span class="text">{{ msg.message }}</span>
                </div>
            {% empty %}
                <p class="empty">No messages yet.</p>
            {% endfor %}
        </div>


        <div class="chat-input">
            <input type="text" id="chat-input" placeholder="Type a message...">
            <button id="chat-send">Send</button>
        </div>

    </div>

</div>

<script>
    const roomId= "{{ room.id }}";
    const socket=new WebSocket("ws://"+ window.location.host+"/ws/chat/"+roomId+"/")

        socket.onopen = function () {
        console.log("✅ WebSocket connected successfully");
    };

socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    if (data.message) {
        const chatBox = document.getElementById("chat-box");
        chatBox.innerHTML += `
            <div class="chat-message">
                <span class="sender">${data.sender}</span>
                <span class="text">${data.message}</span>
            </div>
        `;
        chatBox.scrollTop = chatBox.scrollHeight;
    }
};


    document.getElementById("chat-send").onclick=function(){
        const input=document.getElementById("chat-input");
        const message=input.value;
        socket.send(JSON.stringify({"message":message}));
        input.value="";

    }

    socket.onclose = function (event) {
        console.log(" WebSocket closed", event);
    };

    socket.onerror = function (error) {
        console.log(" WebSocket error", error);
    };


</script>

{% endblock %}
